**/.idea/
**/.vscode/
**/__pycache__/
**/.pytest_cache/

/output/**/*
!/output/**/.gitkeep
/data/**/*
!/data/**/.gitkeep
!/data/data_sjtu/.gitkeep
!/data/data_zjnu/.gitkeep
!/data/data_sansuo/.gitkeep